@page "/"

@using CondominioApp.Data
@using CondominioApp.Shared

@inject NavigationManager Navigate

<EditForm Model="user" method="post">
    <h3 class="display-4">Acesse sua conta</h3>
    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <InputText type="email" @bind-Value="user.Email" placeholder="seu-email@host.com" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <InputText type="password" @bind-Value="user.Password" placeholder="sua senha" class="form-control" style="padding-bottom: 10px;" />
    </div>
    <div class="mb-3">
        <label style="word-wrap:break-word" >
            <InputCheckbox type="checkbox" @bind-Value="user.KeepConnected" checked="checked" class="form-control" />
            Manter-se conectado
        </label>
        <p>&nbsp;</p>
    </div>
    <div class="mb-3">
        <p>
            <a href="/recovery-password">Recuperar a  Senha</a>
        </p>
        <p>&nbsp;</p>
    </div>
    <div class="d-grid gap-2">
        <button @onclick="OnAccessButtonClick" type="submit" class="btn btn-lg btn-success">Acessar</button>
    </div>
</EditForm>

@code {
    private User user { get; set; }
    public UserRepository userRepository {get; set;};

    protected override void OnInitialized()
    {
        base.OnInitialized();
        user = new User();
        userRepository = new UserRepository();
    }

    private void OnAccessButtonClick()
    {
        user = userRepository.CreateOrLogin(user);
        Navigate.NavigateTo($"/user/{@user.Id}", forceLoad: true);
    }

}