@page "/"

<PageTitle>Home</PageTitle>


<div class="text-center py-5">
    <h1 class="display-3 fw-bold mb-3">Gerencie seu Condomínio com Facilidade</h1>
    <p class="lead mb-4">Plataforma SaaS para administração moderna, transparente e eficiente de condomínios residenciais e comerciais.</p>
    <a href="/Condominios/Create" class="btn btn-lg btn-success px-5">Comece Agora</a>
</div>
