@page "/not-found"
@layout MainLayout


<div class="container py-5 text-center">
    <h1 class="display-4 text-danger mb-3"><i class="bi bi-emoji-frown"></i> Página não encontrada</h1>
    <p class="lead">Desculpe, o conteúdo que você procura não existe ou foi removido.</p>
    <a href="/" class="btn btn-primary mt-3">Voltar para o início</a>
</div>
