@page "/users"

@using CondominioServer.Data


<h3>Users</h3>

@if (UserList.Count() < 1)
{
    <p><em>Nenhum usuário no banco de dados.</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var user in UserList)
            {
                <tr>
                    <td>@user.Id</td>
                    <td><a href="user/@user.Id">@user.Email</a></td>
                    <td><button @onclick="()=>OnDeleteButtonClick(user)" class"btn btn-danger">Apagar</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<User> UserList { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
    }

    public void OnDeleteButtonClick(User user)
    {
    }

}
